<:Title>
  Home

<:Body>
  {{ if Volt.current_user }}
    You Are Logged In<br><br>

    <div class="row">
      <div class="col-md-4">

        <table class="game-table">
          <tr>
            <th>Game Name</th>
            <th></th>
            <th></th>
          </tr>

          {{ Volt.current_user.games.each do |game| }}
            <tr>
              <td>{{ game._name }}</td>
              <td><a e-click="game.play">play</a></td>
              <td><a e-click="game.destroy">delete</a></td>
            </tr>
          {{ end }}

        </table>

        <form e-submit="add_game" role="form">
          <div class="form-group">
            <label>New Game Name</label>
            <input class="form-control" type="text" value="{{ page._new_game }}" />
          </div>
        </form>

      </div>
    </div>
  {{ else }}
    <a e-click="login_to_demo_account" href="#">Login As Demo Account</a><br><br>
    
    &nbsp;&nbsp;&nbsp;or<br><br>
    
    <a e-click="create_new_account" href="#">Create New Account</a><br><br>
  {{ end }}