<:Title>
  Home

<:Body>
  {{ if Volt.current_user }}
    You Are Logged In<br><br>

    <div class="row">
      <div class="col-md-4">

        <table class="todo-table">
          {{ _todos.each do |todo| }}
            <tr>
              <td>{{ todo._name }}</td>
              <td><a e-click="todo.play">play</a></td>
              <td><a e-click="todo.destroy">delete</a></td>
            </tr>
          {{ end }}
        </table>

        <form e-submit="add_todo" role="form">
          <div class="form-group">
            <label>New Game Name</label>
            <input class="form-control" type="text" value="{{ page._new_todo }}" />
          </div>
        </form>

      </div>
    </div>
  {{ else }}
    <a e-click="login_to_demo_account" href="#">Login As Demo Account</a><br><br>
    
    &nbsp;&nbsp;&nbsp;or<br><br>
    
    <a e-click="create_new_account" href="#">Create New Account</a><br><br>
  {{ end }}