<:Title>
  Home

<:Body>
  {{ if Volt.current_user }}
    {{ if page._playing_a_game }}
      You are Playing a game <a href="#" e-click="page._playing_a_game = false">Stop</a><br><br>
      {{ if page._prompt_user_for_input }}
        Current time is {{ page._game.print_time }}
        <br><br> 
        Current location is {{ page._game._location }}
        <br><br>
        Current cats: {{ page._game.cats.map(&:_name).join(', ') }}
        <br><br>
        Cities are {{ page._game.cities.map(&:_name).join(', ') }}
        <br><br>
        Do you want to:
        <a href="#">get a job</a>,
        <a e-click="page._game.adopt_a_cat(page)" href="#">adopt a cat</a>, or
        <a href="#">move</a> ?
      {{ end }}
      {{ if page._adopting_a_cat }}
        {{ unless page._taking_cat_adoption_test }}
          Adopting a cat in {{ page._game._location }}
          <br><br>
          We have the following cats:<br>
          {{ page._game.current_city.cats.each do |cat| }}
            {{ cat._name }} &nbsp;&nbsp;&nbsp; <a e-click="page._game.adopt_this_cat(cat, page)" href="#">adopt</a><br>
          {{ end }}
        {{ else }}
          <!-- take the cat test -->
          To adopt "{{ page._chosen_cat._name }}" please sum the number of each letter that corresponds to its order in the alphabet

        {{ end }}
      {{ end }}
    {{ else }}
      You Are Logged In<br><br>

      <div class="row">
        <div class="col-md-8">

          <table class="game-table">
            <tr>
              <th>Game Name</th>
              <th>Current Time</th>
              <th></th>
              <th></th>
            </tr>

            {{ Volt.current_user.games.each do |game| }}
              <tr>
                <td>{{ game._name }}</td>
                <td>{{ game.print_time }}</td>
                <td><a e-click="game.play(page)">play</a></td>
                <td><a e-click="game.destroy">delete</a></td>
              </tr>
            {{ end }}

          </table>

          <form e-submit="add_game" role="form">
            <div class="form-group">
              <label>New Game Name</label>
              <input class="form-control" type="text" value="{{ page._new_game }}" />
            </div>
          </form>

        </div>
      </div>
    {{ end }}
  {{ else }}
    <a e-click="login_to_demo_account" href="#">Login As Demo Account</a><br><br>
    
    &nbsp;&nbsp;&nbsp;or<br><br>
    
    <a e-click="create_new_account" href="#">Create New Account</a><br><br>
  {{ end }}